extends ../layout/index
block contenido
    main.container.mt-5
        .row
            .col-md-5
                img.img-fluid(src="img/nosotros.jpg", alt="Imagen de Nosotros")
            .col-md-7
                h1 #{pagina}
                blockquote Ut rhoncus dignissim ipsum nec volutpat. Donec egestas, est sit amet mollis pellentesque, nunc nunc fermentum ligula, a auctor lacus lacus at justo.
                p Sed ultricies mi ligula, sed luctus lectus accumsan id. Fusce tristique sollicitudin fringilla. Fusce aliquet dictum odio, vitae commodo dui rhoncus vitae.
                p Quisque sed justo dui. Donec accumsan leo non venenatis dapibus. Donec varius ipsum vel erat pretium tempus. Suspendisse sit amet ipsum non erat euismod fermentum. Sed volutpat faucibus felis, vel ullamcorper augue efficitur ac. Aenean magna est, auctor ut purus a, rhoncus tristique erat. Proin id ipsum egestas, pellentesque diam vel, sodales neque. Ut tempor pretium dolor, ut rutrum nibh.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Maecenas mollis sapien neque. Praesent sagittis, odio eget viverra ornare, nibh tortor malesuada odio, ut suscipit ipsum lorem nec est. Aenean id aliquam mi, vel consectetur ex.
                .col-md-4
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Maecenas mollis sapien neque. Praesent sagittis, odio eget viverra ornare, nibh tortor malesuada odio, ut suscipit ipsum lorem nec est. Aenean id aliquam mi, vel consectetur ex.
                .col-md-4
                    img(src="img/icono_precios.svg", class="img-fluid mb-4")
                    h2.mb-4 Mejor precio
                    p Maecenas mollis sapien neque. Praesent sagittis, odio eget viverra ornare, nibh tortor malesuada odio, ut suscipit ipsum lorem nec est. Aenean id aliquam mi, vel consectetur ex.
